In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
features_DataFrame= pd.read_csv(r"D:\master of science\machie learning\project\tox21_global_cdf_rdkit.csv")
labels_DataFrame=pd.read_csv(r"D:\master of science\machie learning\project\tox21 (2).csv")

In [9]:
features_DataFrame.loc[206]

('RDKit2DNormalized_calculated', <class 'bool'>)        True
('BalabanJ', <class 'numpy.float64'>)               0.921053
('BertzCT', <class 'numpy.float64'>)                0.017608
('Chi0', <class 'numpy.float64'>)                   0.015343
('Chi0n', <class 'numpy.float64'>)                  0.020554
                                                      ...
('fr_thiocyan', <class 'numpy.float64'>)                 0.0
('fr_thiophene', <class 'numpy.float64'>)                0.0
('fr_unbrch_alkane', <class 'numpy.float64'>)            0.0
('fr_urea', <class 'numpy.float64'>)                0.166633
('qed', <class 'numpy.float64'>)                    0.772009
Name: 206, Length: 201, dtype: object

In [18]:
labels_DataFrame.isnull()

,smiles,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53
0,False,False,False,False,True,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,True,False,False
2,False,True,True,True,True,True,True,True,False,True,False,True,True
3,False,False,False,False,False,False,False,False,True,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7826,False,True,True,True,True,True,True,True,False,True,False,True,True
7827,False,False,False,False,False,False,False,True,True,False,False,True,False
7828,False,False,False,False,False,False,False,False,False,False,False,False,False
7829,False,False,False,False,True,False,False,False,False,False,False,False,False
7830,False,False,False,True,False,False,False,False,False,False,False,False,False

In [19]:
labels_DataFrame.isna()

,smiles,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53
0,False,False,False,False,True,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,True,False,False
2,False,True,True,True,True,True,True,True,False,True,False,True,True
3,False,False,False,False,False,False,False,False,True,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7826,False,True,True,True,True,True,True,True,False,True,False,True,True
7827,False,False,False,False,False,False,False,True,True,False,False,True,False
7828,False,False,False,False,False,False,False,False,False,False,False,False,False
7829,False,False,False,False,True,False,False,False,False,False,False,False,False
7830,False,False,False,True,False,False,False,False,False,False,False,False,False

In [20]:
labels_DataFrame.isna().any()

smiles           False
NR-AR             True
NR-AR-LBD         True
NR-AhR            True
NR-Aromatase      True
NR-ER             True
NR-ER-LBD         True
NR-PPAR-gamma     True
SR-ARE            True
SR-ATAD5          True
SR-HSE            True
SR-MMP            True
SR-p53            True
dtype: bool

In [21]:
labels_DataFrame.isna().sum()

smiles              0
NR-AR             566
NR-AR-LBD        1073
NR-AhR           1282
NR-Aromatase     2010
NR-ER            1638
NR-ER-LBD         876
NR-PPAR-gamma    1381
SR-ARE           1999
SR-ATAD5          759
SR-HSE           1364
SR-MMP           2021
SR-p53           1057
dtype: int64

In [22]:
labels_DataFrame.isna().any().sum()

12

In [26]:
labels_DataFrame.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
7826    False
7827    False
7828    False
7829    False
7830    False
Length: 7831, dtype: bool